body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(245,160,207);
    font-family:Georgia, serif;
}

.container{
    text-align:center;
}

h1{
    color:white;
    font-size:55px;
}

p{
    color:white;
    font-size:24px;
    width:700px;
    margin:auto;
    margin-bottom:40px;
}

.botoes{
    position:relative;
    height:100px;
}

button{
    padding:15px 35px;
    font-size:24px;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

#sim{
    background:#3cb371;
    color:white;
    margin-right:40px;
}

#nao{
    background:#e74c3c;
    color:white;
    position:absolute;
}